---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import Education from "../components/Education.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";

import profile from "../data/profile";
import experience from "../data/experience";
import education, { certifications } from "../data/education";
import skills from "../data/skills";
import projects from "../data/projects";
---

<Layout profile={profile}>
  <Nav />
  <main>
    <Hero profile={profile} />
    <Experience items={experience} />
    <Education items={education} certifications={certifications} />
    <Skills categories={skills} />
    <Projects items={projects} />
    <Contact profile={profile} />
  </main>
</Layout>
